# Build directories
bin/
obj/

# Visual Studio temporary files
.vs/
*.user
*.suo

# Rider IDE
.idea/

# NuGet packages
*.nupkg
packages/

# Node/npm
node_modules/

# Publish output
wwwroot/build/

# Others
*.log
